# ==========================================
# Configuración de la Aplicación
# ==========================================
PROJECT_NAME="Memory Ollama API"
VERSION="1.0.0"
API_V1_STR="/api/v1"

# ==========================================
# Base de Datos (MongoDB)
# ==========================================
# Dentro de Docker Compose: 'mongodb://mongo:27017/'
# En local fuera de Docker: 'mongodb://localhost:27017/'
MONGO_URI="mongodb://mongo:27017/"
DATABASE_NAME="memory"
SESSIONS_COLLECTION="sessions"
MEMORY_COLLECTION="memory"

# ==========================================
# Servicio Ollama
# ==========================================
# Dentro de Docker Compose comunicando con host: 'http://host.docker.internal:11434/v1'
# En local fuera de Docker: 'http://localhost:11434/v1'
OLLAMA_BASE_URL="http://host.docker.internal:11434/v1"
MODEL_NAME="qwen2.5-coder:7b"
OLLAMA_TIMEOUT=120.0